In [2]:
import pandas as pd
import numpy as np
c

                           hora  temperatura  humedad
0    "2022-02-06T16:37:15.711Z"         23.0     35.0
1    "2022-02-06T16:41:05.533Z"         23.0     35.0
2    "2022-02-06T16:47:08.500Z"         23.0     35.0
3    "2022-02-06T16:50:08.318Z"         23.0     35.0
4    "2022-02-06T16:53:07.340Z"         23.0     35.0
..                          ...          ...      ...
754  "2022-02-09T21:23:37.907Z"         21.0     36.0
755  "2022-02-09T21:33:37.910Z"         21.0     36.0
756  "2022-02-09T21:43:38.912Z"         21.0     37.0
757  "2022-02-09T21:53:38.415Z"         21.0     37.0
758  "2022-02-09T21:56:52.197Z"         21.0     37.0

[759 rows x 3 columns]